header, #container, footer {
	width: 1000px;
	padding: 25px 25px;
	
}

	#title{
		color: white;
	}

	
	li {   
		
		display: table;
		text-decoration: none;
		color: lightgrey;
		
	}
	
	#container {
		
	background-image: url("/wk2/css/images/netflixbackground.jpg") 

	

	}

	#container h1  {
		margin: 0;
		font-size: 50px;
		text-align: center;
		color: white;
		padding: 0;
		
	}
		#container h2 {
			margin: 0px 6px;
			text-align: center;
			color: white;
			font-size: 35px;
			padding: 0px;
		}
		#container h3 {
			margin: 0;
			text-align: center;
			color: white;
			font-size: 5px;
			padding: 0;
		}
 #story_header{
	color: red;
	margin: 8px 0px 0px;
	text-align: right;
	font-size: 55px;
}
		
	
	#logo {
		color: red;
		margin: auto;
		text-align: left;
		font-size: 60px;
	}
	
	
	
	
	#questions{
		margin: auto;
		text-align: right;
		color: white;
		
		
	}
	
	a:link{
		color:gray;
	}
	a:visited {
		color: green;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	